@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


.cards {
    /* display: flex; */
    /* gap: 1rem; */
    /* display: -webkit-flex; */
    /* justify-content: center;
    -webkit-justify-content: center; */
    max-width: 250px;
  /* font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: space-between; */
}

        /* Reduce to 2 cards per row for smaller screens */
        @media screen and (max-width: 768px) {
          .cardx {
              /* max-width: calc(50% - 16px);  */
          }
      }

      /* Reduce to 1 card per row for even smaller screens */
      @media screen and (max-width: 576px) {
          .cardx {
              /* max-width: 100%;  */
          }
      }

.card--1 .card__img, .card--1 .card__img--hover {
    /* background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
}

.card--2 .card__img, .card--2 .card__img--hover {
    /* background-image: url('https://images.pexels.com/photos/307008/pexels-photo-307008.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260'); */
}

.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
  vertical-align: middle;
    fill: #AD7D52;
}
.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
  
}

.card__info-hover {
    position: absolute;
    padding: 16px;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;
  
}
.cardx {
  /* margin-right: 25px; */
  margin: 2rem 2rem;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: #fff;
    width: fit-content;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
  max-width: calc(100%); 

}


.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}
.cardx:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
z-index: 2;
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
   padding: 12px 18px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 8px;
    font-family: 'Roboto Slab', serif;
    font-size: medium;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.cardx:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.cardx:hover .card__info {
    background-color: transparent;
    position: relative;
}

.cardx:hover .card__info-hover {
    opacity: 1;
}
